<html xmlns="http://www.w3.org/1999/xhtml" content="text/html;">
<head>
    <title>Create user</title>
</head>
<body>
<div class="top">

    <form action="createClient" method="post">
        <label>
            ФИО <br/>
            <input type="text" name="name" required placeholder="Иванов Василий Петрович">
        </label>
        <br/>
        <label>
            Номер телефона <br/>
            <input type="text" name="phone" placeholder="79000000000">
        </label>
        <br/>
        <label>
            Адрес <br/>
            <input type="text" name="address" placeholder="Ул Героя Победы....">
        </label>
        <br/>
        <br/><br/>
        <input type="submit" value="Создать">
    </form>
</div>
</body>
</html>